ion-header {
  --ion-background-color: var(--ion-color-kbar);
  position: initial;

  ion-title {
    height: 200px;
    width: 300px;
    margin: auto;

    ion-img {
      position: relative;
      top: 15px;
    }
  }
}

ion-content {
  --ion-background-color: var(--ion-color-kbar);
}

ion-card {
  width: 300px;
  margin: 5% auto;
  background: #ffffff;

  &.kbar-greeting-card {
    background: transparent;
    margin: auto;
    box-shadow: none;
  }
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3171e0;
  }
}
