<ion-header>
    <ion-toolbar>
        <ion-segment
            (ionChange)="segmentChanged($event)"
            [value]="Segment.AR"
            color="dark"
        >
            <ion-segment-button [value]="Segment.AR">
                <ion-img src="/assets/icons/AR.svg" alt="Anti-Racism"></ion-img>
            </ion-segment-button>
            <ion-segment-button [value]="Segment.BAR">
                <ion-img
                    src="/assets/icons/BAR.svg"
                    alt="Being Anti-Racist"
                ></ion-img>
            </ion-segment-button>
            <ion-segment-button [value]="Segment.KBAR">
                <ion-img
                    src="/assets/icons/KBAR.svg"
                    alt="Keep Being Anti-Racist"
                ></ion-img>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="!category" class="kbar-greeting-card">
        <ion-card-header class="ion-no-margin ion-no-padding ion-text-center">
            <ion-card-title>
                <h2>
                    <div *ngIf="loadingHomeData">
                        <ion-skeleton-text animated></ion-skeleton-text>
                        <br />
                        <br />
                        <ion-skeleton-text animated></ion-skeleton-text>
                    </div>
                    <ion-text *ngIf="!loadingHomeData">
                        <ion-text *ngIf="segment == Segment.AR">
                            {{ homeData.homeAR }}
                            <ion-button
                                size="small"
                                color="dark"
                                fill="solid"
                                class="ion-margin-start"
                                [href]="homeData.homeARLink"
                            >
                                {{ homeData.homeARLabel }}
                            </ion-button>
                        </ion-text>
                        <ion-text *ngIf="segment == Segment.BAR">
                            {{ homeData.homeBAR }}
                            <ion-button
                                size="small"
                                color="dark"
                                fill="solid"
                                class="ion-margin-start"
                                [href]="homeData.homeBARLink"
                            >
                                {{ homeData.homeBARLabel }}
                            </ion-button>
                        </ion-text>
                        <ion-text *ngIf="segment == Segment.KBAR">
                            {{ homeData.homeKBAR }}
                            <ion-button
                                size="small"
                                color="dark"
                                fill="solid"
                                class="ion-margin-start"
                                [href]="homeData.homeKBARLink"
                            >
                                {{ homeData.homeKBARLabel }}
                            </ion-button>
                        </ion-text>
                        <br />
                        <br />
                        <ion-text>{{ homeData.homeGreeting }}</ion-text>
                    </ion-text>
                </h2>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <section>
        <div
            class="ion-text-center ion-margin ion-padding"
            *ngIf="loadingOffers"
        >
            <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <div *ngIf="!loadingOffers">
            <div>
                <div *ngIf="!category" class="ion-text-center">
                    <category
                        *ngFor="let _category of categories"
                        [category]="_category"
                        (click)="clickCategory(_category)"
                    ></category>
                </div>
                <div *ngIf="category && !subCategory">
                    <category
                        [category]="category"
                        [showDescription]="true"
                        (click)="goBack()"
                    ></category>
                </div>
                <div *ngIf="category && !subCategory">
                    <sub-category
                        *ngFor="let _subCategory of subCategories | categoryFilter: category"
                        [subCategory]="_subCategory"
                        [showRightDescription]="false"
                        [showBottomDescription]="true"
                        (click)="clickSubCategory(_subCategory)"
                    ></sub-category>
                </div>
                <div *ngIf="category && subCategory">
                    <sub-category
                        [subCategory]="subCategory"
                        [showRightDescription]="true && !offer"
                        [showBottomDescription]="false"
                        (click)="goBack()"
                    ></sub-category>
                </div>
            </div>
            <div *ngIf="category && subCategory && !offer">
                <offer
                    *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory | segmentFilter: segment"
                    [offer]="_offer"
                    (click)="clickOffer(_offer)"
                ></offer>
                <div
                    *ngIf="(offers | categoryFilter: category | subCategoryFilter: subCategory | segmentFilter: segment).length === 0"
                    class="ion-margin ion-padding"
                >
                    We have no publications for this category.
                </div>
            </div>
            <div *ngIf="category && subCategory && offer">
                <offer
                    [offer]="offer"
                    [showDetails]="true"
                    [goBack]="goBack.bind(this)"
                    (click)="clickOffer(offer)"
                ></offer>
            </div>
            <div
                *ngIf="categories?.length === 0 || subCategories?.length === 0 || offers?.length === 0"
            >
                <ion-card class="ion-text-center">
                    <ion-card-header>
                        <ion-card-subtitle>Data Unavailable</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content>
                        Please reach out to us via
                        <a (click)="openHelpModal()">our help page</a>.
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </section>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="category">
            <ion-back-button
                defaultHref="/"
                (click)="goBack()"
            ></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="!category">
            <ion-button disabled="disabled">
                <ion-icon slot="icon-only" name="invisible"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons class="ion-justify-content-center">
            <ion-button (click)="openSharePopover()">
                <ion-icon slot="icon-only" name="ios-share"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button (click)="openHelpModal()">
                <ion-icon slot="icon-only" name="help"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
