ion-header {
  --ion-background-color: var(--ion-color-kbar);
  position: initial;

  ion-segment {
    ion-segment-button {
      width: 33.33%;

      ion-img {
        margin: 10px;
        height: 150px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

ion-content {
  --ion-background-color: var(--ion-color-kbar);
}

ion-card {
  min-width: 300px;
  max-width: 600px;
  width: 70%;
  margin: 5% auto;
  background: #ffffff;

  &.kbar-greeting-card {
    background: transparent;
    margin: auto;
    box-shadow: none;

    ion-button {
      vertical-align: middle;
    }
  }
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3171e0;
  }
}
