ion-tab-bar {
    border-bottom: none;
}

ion-tab-button {
    &.tab-disabled {
        opacity: 0.6;
    }

    &#tab-button-keep-being-anti-racist {
        --color: var(--ion-color-dark-contrast);
        --color-selected: var(--ion-color-dark-contrast);
        --background: #ffc001;
    }
}
